.purple-pink {
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 18px;
    font-family: inherit;
    cursor: pointer;
    color: #fff;
    /* width: 9em; */
    padding: 3px 25px;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(-45deg, #ff0693, #4e67fb);
    background-size: 300%;
    border-radius: 10px;
    z-index: 1;
}

/* Custom CSS */
.outline-text {
  -webkit-text-stroke: 1px #183837; /* Width and color of the outline */
}

@keyframes loading {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

.loading-line {
  animation: loading 2s infinite;
}

.custom-loader::before {
  content: "";
  position: absolute;
  height: 6px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: #183837d7;
  animation: p6 4s infinite;
  animation-delay: 0.1s;
  border-radius: 10px;
}

@keyframes p6 {
  100% {
    inset: 0
  }
}

.move{
  animation: move 30s infinite;
}
@keyframes move {
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(-1400px);
  }
}


*::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  /* background-color: white; */
}

*::-webkit-scrollbar {
  width: 0%;
  visibility: hidden;
}

*::-webkit-scrollbar-thumb {
  /* background-color: #183837d7; */
}



/* .purple-pink:hover {
    animation: ani 8s linear infinite;
    border: none;
  }
  
  @keyframes ani {
    0% {
      background-position: 0%;
    }
  
    100% {
      background-position: 400%;
    }
  }
  
.purple-pink:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
  }
  
.purple-pink:hover::before {
    filter: blur(20px);
  }
  
.purple-pink:active {
    background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  }
   */